[user]
	name = tkzzzzzz6
	email = tanke@stu.sicau.edu.cn
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[http]
	postBuffer = 524288000
	version = HTTP/1.1
